* {
  padding: 0px;
  font-size: 1em;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
p {
  margin: 0;
}
a:hover {
  text-decoration: underline;
}
.category-font {
  font-size: 8em;
  z-index: 800;
  text-align: center;
  /* font-family: "Playfair Display", serif; */
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  -webkit-text-stroke: 3px navy;
  fill: none;
  color: white;
  stroke: red;
  stroke-width: 0.5px;
  stroke-linejoin: round;
}

.Header {
  display: flex;
  justify-content: space-around;
}
.Header div {
  margin: auto;
  /* margin-left: 5px; */
}
.icon {
  padding: 5px;
}
.heading {
  font-weight: 800;
  font-size: 1.3em;
}
.Support {
  display: flex;
  flex-direction: column;
}
.Footer {
  display: Flex;
  font-size: 1.3em;
  border: 2px red solid;
  min-width: 300px;
  align-items: center;
  background-color: #bfd7ed;
  width: 99vw;
  padding: 1em;
  box-sizing: border-box;
  position: absolute;
  margin-top: 8rem;
}
.foot1 {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  /* justify-content: center; */
  width: 80%;
}

.Online {
  display: inline-block;
}
#facebook {
  color: #316ff6;
  height: 2em;
  width: 2em;
}
/* Header */
.Header {
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 1.5em 0 1.5em 0;
  /* border-bottom: 1px black solid; */
  font-size: 1.2em;
  font-weight: 600;
  box-shadow: 0px 16px 11px -6px rgba(0, 0, 0, 0.2);
  margin-bottom: 5em;
  background-color: white;
}
/* Header */
.searchbox {
  width: 20%;
  border: 1px black solid;
  /* padding-left: 5px; */
  padding: 7px;
}
.searchbox input[type="text"] {
  width: 90%;
  border-style: none;
  height: 100%;
  padding-left: 10px;
  /* background-color: rgb(219, 204, 204); */
}

.searchbox input:focus {
  outline: none;
}
#instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: white;
  border-radius: 3px;
  height: 2em;
  width: 2em;
}
#twitter {
  color: #1da1f2;
  height: 2em;
  width: 2em;
}
#googleplus {
  color: #db4437;
  height: 2em;
  width: 2em;
}
#Youtube {
  color: #ff0000;
  height: 2em;
  width: 2em;
}

.foot {
  display: grid;
  place-items: center;
  width: 50%;
}
.Subscribe {
  display: flex;
  flex-grow: 1;
  padding-right: 5px;
  width: 100%;
  align-self: center;
  margin: auto;
}
.Subscribe input[type="text"] {
  /* flex-grow: 1; */
  min-width: 200px;
  /* width: 80%; */
  margin-right: 0.1em;
  padding-left: 15px;
  width: 50%;
  height: 2em;
  border-radius: 20px;
}
.Subscribe button {
  background-color: #003b73;
  color: white;
  padding: 0 0.5em 0 0.5em;
  font-size: clamp(0.5em, 1em);
  border-radius: 20px;
  height: 2em;
  width: 150px;
}
/* .Subscribe:hover{

} */
.Socialmedia {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}
.Socialmedia svg {
  margin-right: 0.5em;
}
@media (max-width: 900px) {
  .Footer {
    display: block;
    margin: 0;
    font-size: 1.5em;
  }
  .footal {
    width: 100%;
    align-content: center;
    justify-content: space-between;
  }
  .foot1 {
    margin-bottom: 1em;
    flex-grow: 2x;
    width: 100%;
    /* justify-content: space-between; */
  }
}
.Cpolicy {
  display: inline-block;
  width: max-content;
}

.photocard {
  height: 450px;
  display: flex;
  margin-bottom: 2em;
  max-width: 700px;
  min-width: 15%;
  height: 40vh;
  flex-wrap: wrap;
  border: 3px rgba(255, 0, 0, 0.591) solid;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
  z-index: 800;
}
.photocard:hover {
  transform: scale(1.02);
}

.image-container {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.text-overlay {
  background-color: rgba(255, 0, 0, 0.837);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}
.text-overlay p {
  margin: 0;
}
#product {
  font-size: 1.5em;
}
#discount {
  font-weight: 800;
  font-size: 1.7em;
}
.photobunch {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  z-index: 0;
  flex-flow: wrap;
}

.displayheading {
  margin: 3em 0 2.5em 0;
  font-size: 3em;
  padding-left: 1.3em;
  font-weight: 400;
}
.slider {
  display: grid;
  grid-template-columns: 4fr 1fr;
  width: 100%;
  height: 50vh;
  min-height: 300px;
}

.slider-picture {
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  flex-grow: 1;
}

.slider-description {
  height: 50%;
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  justify-content: flex-end;
  /* border-bottom: 1px grey solid; */
}
.slider-description p {
  margin: 0;
}
#slider-description-title {
  font-size: 2.3rem;
}
#slider-description-text {
  font-size: 2rem;
  font-weight: 400;
}
.explore {
  height: 50%;
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  /* justify-content: flex-start; */
}

.slider-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(200, 221, 243); /*This is for the text to overlap*/
}
.Carousel-wrapper {
  height: 51vh;
  box-sizing: border-box;
  margin-bottom: 5em;
  width: 100%;
}

.container {
  display: flex;
  flex: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition: 0.5s ease-in-out;
}
.Card-active {
  display: flex;
  opacity: 1;
  transform: scale(1);
  pointer-events: visible;
}

#left,
#right {
  position: absolute;
  display: flex;
  background-color: white;
  transform: translate(0, 25vh);
  justify-content: center;
  align-items: center;
  width: 30px;
  cursor: pointer;
  padding: 5px;
  border-radius: 55%;
}

#right:hover {
  visibility: visible;
}
#left {
  left: 15px;
}
#right {
  right: 15px;
}
.Dot-container {
  display: flex;
  justify-items: center;
  position: absolute;
  top: 650px;
  left: 50%;
  transform: translate(-50%, 0);
}
@media (max-width: 850px) {
  .slider {
    grid-template-columns: 1fr;
    height: auto;
  }

  .slider-picture {
    height: 300px;
  }

  .slider-description,
  .explore {
    visibility: hidden;
    font-size: 1.5rem;
  }
  .Carousel-wrapper {
    height: 300px;
    background-color: #db4437;
    margin-bottom: 4em;
  }
  .Dot-container {
    top: 450px;
  }
}

.Dot {
  height: 15px;
  width: 15px;
  margin: 1px;
  border-radius: 50%;
  background-color: antiquewhite;
  cursor: pointer;
  border: 1px black solid;
}
.Dot-active {
  background-color: rgb(67, 60, 200);
}
.Megaslider {
  width: 100%;
  height: 400px;
  display: flex;
}

.Megaslider-photo {
  background-repeat: no-repeat;
  height: 400px;
  width: 20%;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.Megaslider-text {
  background-color: aliceblue;
  display: block;
  height: fit-content;
  width: 100%;
  text-align: center;
  margin: 0px 0.5em 0.5em 0.5em;
  padding: 5px;
  /* justify-content: ; */
}
.MCarousell {
  width: 100%;
  height: 400px;
  flex-wrap: wrap;
  overflow: hidden;
  opacity: 0;
  position: absolute;
}
.MCarousell-active {
  width: 100%;
  height: 400px;
  flex-wrap: wrap;
  overflow: hidden;
  opacity: 1;
  position: absolute;
}
#Mleft,
#Mright {
  position: absolute;
  display: flex;
  background-color: white;
  transform: translate(0, 20vh);
  justify-content: center;
  align-items: center;
  width: 30px;
  cursor: pointer;
  padding: 5px;
  border-radius: 55%;
}
#Mleft {
  left: 10px;
}
#Mright {
  right: 10px;
}
.MCarousel-wrapper {
  margin: 5em 0 3em 0;
  margin-top: 10em;
  height: 400px;
  box-sizing: border-box;
  margin-bottom: 10em;
  width: 100%;
}
